* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: #dddddd;
}
header{
    padding: 10px 20px;
    background-color: #021859;
    color: #44C1F2;
    margin-bottom: 15px;
}
.topo{
    max-width: 1300px;
    margin: 0 auto;
}
.logo{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 60px;
}
header .topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    display: inline-block;
    text-decoration: none;
    color: #44C1F2;
}
header nav ul li{
    display: inline-block;
    padding: 0 15px;
    list-style-type: none;
    transition: 0.2s;
}
nav ul li a:hover {
    color: #F0F0FA;
    transform: scale(1.05);
}

/* 
.theme-artistic_swimming-1-hex { color: #021859; }
.theme-artistic_swimming-2-hex { color: #4590BF; }
.theme-artistic_swimming-3-hex { color: #44C1F2; }
.theme-artistic_swimming-4-hex { color: #A7E4F2; }
.theme-artistic_swimming-5-hex { color: #8C6D46; }
 */
